<!DOCTYPE html>

@*Razorは，.NETのコードをHtmlへ埋め込むためのマークアップ言語*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*ログアウトのリンクを追加*@
    <div class="container">
        @if (Request.IsAuthenticated)
         {
             @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login" })

             if (User.IsInRole("Administrators"))
             {
                <span>|</span>
                @Html.ActionLink("ユーザー管理", "Index", new { Controller = "Users"})
             }
         }
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
