################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/C#/HelloWorld/obj/Release

#
# ASP.NET
#

# TodoApp
/C#/ASPNET/TodoApp/.vs/TodoApp/v16
/C#/ASPNET/TodoApp/bin
/C#/ASPNET/TodoApp/obj
/C#/ASPNET/TodoApp/obj/Debug

#
# WPF
#

# CommandBinding
/C#/WPF/CommandBinding/UseCommandBinding/obj/Debug
/C#/ASPNET/SampleMVC/SampleMVCApp/.vs/SampleMVCApp/v16/.suo
/C#/ASPNET/SampleMVC/SampleMVCApp/obj
/C#/ASPNET/SampleMVC/SampleMVCApp/.vs/SampleMVCApp/DesignTimeBuild/.dtbcache.v2
/C#/ASPNET/SampleMVC/SampleMVCApp/bin/Debug/net5.0
/C#/ASPNET/SampleRazorApp/.vs/SampleRazorApp/v16
/C#/ASPNET/SampleRazorApp/obj
/C#/ASPNET/SampleRazorApp/bin/Debug/net5.0
/C#/ASPNET/SampleRazorApp/.vs/SampleRazorApp/DesignTimeBuild/.dtbcache.v2
/C#/ASPNET/TestBlog/.vs/TestBlog/v16/.suo
/C#/ASPNET/TestBlog/obj
/C#/ASPNET/TestBlog/bin/Debug/net5.0
/C#/ASPNET/TestBlog_old
/C#/WPF/ToolbarBuilder/.vs/ToolbarBuilder/v16
/C#/WPF/ToolbarBuilder/bin/Debug
/C#/WPF/ToolbarBuilder/obj/Debug
/C#/WPF/ToolbarBuilder/UserInterface/bin/Debug
/C#/WPF/ToolbarBuilder/UserInterface/obj/Debug
/C#/WPF/ToolbarBuilder/UserInterface.Core/bin/Debug
/C#/WPF/ToolbarBuilder/UserInterface.Core/obj/Debug
/C#/WPF/ToolbarBuilder/Shared/bin/Debug
/C#/WPF/ToolbarBuilder/Shared/obj/Debug
/.vs/Study/v17
/C#/WPF/MultiColumnHeader/.vs/MultiColumnHeader/v17
/C#/WPF/MultiColumnHeader/.vs/MultiColumnHeader/FileContentIndex
/C#/WPF/MultiColumnHeader/obj
/C#/CtorArgumentChecker/.vs/CtorArgumentChecker/v17
/C#/CtorArgumentChecker/.vs/CtorArgumentChecker/FileContentIndex
/C#/CtorArgumentChecker/obj/Debug
/C#/WPF/MultiColumnHeader/bin/Debug/net6.0-windows
/C#/WPF/MultiColumnHeader/.vs/MultiColumnHeader/DesignTimeBuild
/C#/WPF/MultiColumnHeader/.vs/ProjectEvaluation
